<div class="repo p-2">
  <a href="https://github.com/{{ include.username }}">
    <div class="repo-card d-flex align-items-start gap-3 text-start">
      <img
        class="repo-preview repo-user-preview rounded-circle"
        alt="{{ include.username }}"
        src="https://github.com/{{ include.username }}.png"
      >
      <div class="repo-content">
        <div class="repo-name">
          <strong>{{ include.username }}</strong>
        </div>
      </div>
    </div>
  </a>
</div>
